// Place all the styles related to the Maker_Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#submit_btn {
    font-size: 1.5em;
    color: white;
    height: 30px;
    width: 200px;
    text-align: center;
    line-height: 30px;
    margin: 50px 150px 0 0;
    padding-left: 0px;
    background: grey;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
    border-radius: 10px;
}
